@model AfricaRentCar.Models.voiture

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
<link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
<link rel="stylesheet" href="/assets/css/Pretty-Footer.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<h2>Details</h2>

<div>
    <h4>voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puissance_fiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puissance_fiscale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puissance_chdin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puissance_chdin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.energie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.energie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boite_vitesse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boite_vitesse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_rapport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_rapport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_cylindres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_cylindres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_image)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.url_image)" width="200" height="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("admin") || User.IsInRole("responsable"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.id })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
