@model AfricaRentCar.Models.panier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>panier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Car Brand
        </dt>
        <dd>
            @Html.DisplayFor(model => model.voiture.marque)
        </dd>
        <br />
        <dt>
            Model
        </dt>
        <dd>
            @Html.DisplayFor(model => model.voiture.modele)
        </dd>
        <br />
        <dt>
            Number of days
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_jours)
        </dd>
        <br />
        <dt>
            Car image
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.voiture.url_image)" width="200" height="200" />
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
