@model IEnumerable<AfricaRentCar.Models.panier>



<h2>Index</h2>


<table class="table">
    <tr>
        <th width="10%">
            @Html.DisplayNameFor(model => model.voiture.url_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_jours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.voiture.prix)
        </th>
        <th width="10%">
            Montant
        </th>
        <th width="20%">
            @Html.DisplayNameFor(model => model.voiture.description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item != null)
        {
            <tr>
                <td>
                    <img src="@item.voiture.url_image" width="50" height="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_jours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.voiture.prix)
                </td>
                <td>
                    @item.Montant()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.voiture.description)
                </td>
                <td>
                    <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button>
                    <button class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.id })</button>
                    <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
                </td>
            </tr>
        }

    }

</table>
