<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Africa Rent Car</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <br />
    <br />
    <br />
    <br />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Africa Rent Car</title>
    @Styles.Render("~/assets/css")
    @Scripts.Render("~/assets/js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Africa Rent Car", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.IsInRole("responsable"))
                    {
                        <li>@Html.ActionLink("My Cars", "MyCars", "voitures")</li>
                        <li><a href="https://localhost:44336/voitures/stat" target="_blank">Statistics </a></li>
                    }

                    <li>@Html.ActionLink("Cars List", "Index", "voitures")</li>


                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Admin Space ", "AdminLayout", "Admin")</li>
                    }
                    @if (User.Identity.IsAuthenticated && !User.IsInRole("responsable") && !User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Bill", "Index", "factures")</li>
                        <li>@Html.ActionLink("panier", "Index", "paniers")</li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Change password", "ChangePassword", "Manage")</li>

                    }

                    @if (!User.IsInRole("responsable") && !User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Contact", "Index", "Mail")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/assets/bootstrap/js")
    @Scripts.Render("~/assets/bootstrap/css")
    @RenderSection("scripts", required: false)
</body>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#">Africa Rent Car</a></h3>
                <p class="links"><a href="#"><strong>technology</strong></a><strong> · </strong><a href="#">Pricing </a><strong> · </strong><a href="#">Order </a><strong> </strong></p>
                <p class="company-name">Africa Rent Car© 2021</p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div>
                    <span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">21 Revolution Street</span> Ariana, Tunisie</p>
                </div>
                <div>
                    <i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +216 555 123456</p>
                </div>
                <div>
                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">support@company.com</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p>Africa Rent Car was founded in Tunisia in 2021 with the mission of giving great experience of shopping.<br></p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </div>
</footer>
</html>

<style>
    #myInput {
        width: 100%;
        border: 1px solid grey;
        padding: 5px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        background: #f1f1f1;
        height: 20%;
    }

    .btn {
        width: 25%;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #promo {
        background: url(/assets/img/la-vie-en-Golf.jpg);
    }
</style>
